Repository liquidprompt/liquidprompt, pull requests merged in 2021-04, with the labels that each got.

#664 Fix typo in documentation (minor cosmetic change)
  docs/theme/default.rst
Labels: documentation

#628 Feature/rvm support
  docs/config.rst
  docs/functions/data.rst
  docs/functions/theme.rst
  liquid.ps1
  liquidprompt
  liquidpromptrc-dist
Labels: data source, dev env, enhancement

#665 Shell escapes, command titles, and related fixes
  docs/conf.py
  docs/config.rst
  docs/functions/data.rst
  docs/functions/internal.rst
  liquidprompt
  tests/test_utils.sh
  themes/powerline/powerline.theme
Labels: data source, enhancement, hostname, path, release blocker, reviews wanted, title
